.latest-articles {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;

  > div {
    width: calc(33% - 18px);
    margin: 10px;
    position: relative;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: 14px;
      background: rgba($dark,.8);
      color: $light;
      z-index: 2;
    }

    > p {
      color: $secondary;
      font-size: 14px;
    }
  }
}
