// Colors
$primary: #476B7A;
$secondary: #9CB3A7;
$light: #D7E0C5;
$lightest: #FCFFF6;
$dark: #1A3B4A;
$accent: invert($dark);

@import 'popular-content';
@import 'nav';
@import 'header';
@import 'latest-articles';
@import 'archive';
@import 'footer';

* { box-sizing: border-box; }

html,body {height: 100%;}

body {
  padding-top: 60px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $lightest;
}

a {
  color: $primary;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background: $secondary;
  text-decoration: none;
  color: $lightest;
  text-align: center;

  &.primary {
    background: $primary;
  }
}

input[type=text] {
  padding: 8px 16px;
  border: none;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

h3 {
  position: relative;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: $secondary;

  span {
    background: $lightest;
    padding: 0 15px;
    position: relative;
    z-index: 1;
  }

  &:before {
    background: $light;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
  }
}

h4 {
  font-size: 18px;
  font-weight: 300;
  color: $primary;
  margin: 10px 0;
}



.img-fluid {
  width: 100%;
  height: auto;
}

.light-bg {
  background: $light;
}


// Mobile Styling
@media(max-width: 768px){
  nav {
     ul {
      background: rgba($light,.9);
      float: none;
      position: fixed;
      height: 100%;
      width: 300px;
      margin: 0;
      padding: 0;
      top: 60px;
      right: 0;
      transform: translateX(300px);
      transition: all 200ms linear;

      &.open {
        transform: translateX(0);
      }

      > li:last-of-type > ul {
        transform: translateX(0);
      }

      > li {
        float: none;
        display: block;

        > ul {
          opacity: 1;
          position: relative;
          left: 0;
          transform: translateX(0);
          display: block;
          width: 100%;
          background: none;

          > li a {
            color: $primary;
            margin-left: 10px;

            &:hover {
              background: none;
              color: $dark;
            }
          }
        }
      }
    }

    #mobile-menu {
      display: inline-block;
      cursor: pointer;
    }
  }


  header {
    height: calc(100vh - 60px);
  }

  .signup {
    left: 0;
    transform: translate(0,0);
    width: 100%;
  }

  .latest-articles,.popular-content {

    > div {
      width: 100%;
    }
  }
}
