.popular-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px 0;

  > div {
    width: calc(33% - 18px);
    margin: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px 0;
    }

    li a {
      color: $dark;
      font-size: 14px;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid darken($light,10%);
      padding: 5px;

      &:hover {
        color: $primary;
      }
    }
  }
}
